.order-page, .order-btn { display: flex; flex-wrap: wrap; }
.order-page { justify-content: center; }
.order-btn { justify-content: space-around; width: 180px; }

.address-form > input, .address-form > div { margin: 0.5rem 0;}
#zipcode { width: calc(100%/2); display: inline-block; }
#search_zipcode { cursor: pointer; }
.address-form div { border: 1px solid gray; border-radius: 5px; width: calc(100%/2 - 5px); display: inline-block; text-align: center; }
.address-form span { display: block; margin: 0 auto; width: 100px;}
.order-btn, .address-form span { margin: 0 auto; }
