#product-detail img {
    width: 100%;
}

.product-one-info, .mini-info, .product-btn, .product-list, .product-img, .product-detail-info, .qty {
    display: flex;
}

.product-one-info, .mini-info, .product-btn {
    justify-content: space-around;
}

.product-list, .mini-info, .product-detail-info {
    flex-wrap: wrap;
}

.product-list {
    justify-content: center;
}

.product-one-info {
    align-items: center;
}

.mini-info, .product-price {
    flex-direction: column;
}

.mini-info div:not(.price), .product-price div:not(.price) {
    font-weight: bold;
}
.mini-info div:not(.real-price), .product-price div:not(.real-price) {
    font-size: 18px;
}
.real-price {
    font-size: 21px;
    color: #337ab7;
}
.discount {
    color: #ff4500;
}
.price {
    text-decoration: line-through;
    color: #dcdcdc;
}

/* 상품 상세 페이지 */
.product-detail-info > div {
    overflow: hidden;
}
img {
    border: 0;
}
.detail-info {
    width: 40%;
    margin-left: 20px;
}
.detail-info .panel-body > div {
    margin-top: 5px;
    padding: 10px;
}
.product-thumbnail, .product-thumbnail img {
    z-index: 10;
}
.product-thumbnail img {
    margin-right: 5px;
}
.product-img {
    flex-wrap: nowrap;
    position: relative;
    min-width: 500px;
}
.big-image, .big-image img {
    z-index: 1;
}
.big-image {
    position: absolute;
    left:0;
    top:0;
}

.big-image img {
    width: 500px;
}
.qty .input-group-btn {
    width: 37px;
}
.qty .form-control {
    width: 100px;
}
