<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodive.mapper.CategoryMapper">

    <sql id="search">
        <trim prefixOverrides="or|and">
            <trim prefix="(" suffix=")" prefixOverrides="or">
                <if test="category.cno!=null">
                    or tbl_category.cno = #{category.cno}
                </if>
                <if test="category.code!=null">
                    or tbl_category.code = #{category.code}
                </if>
                <if test="category.name!=null">
                    or tbl_category.name like '%'||#{category.name}||'%'
                </if>
                <if test="category.HCode != null">
                    <choose>
                        <when test='category.HCode == "null" '>
                            or tbl_category.hCode is null
                        </when>
                        <otherwise>
                            or tbl_category.hCode like '%'||#{category.hCode}||'%'
                        </otherwise>
                    </choose>
                </if>
            </trim>
            <if test="category.state!=null">
                and state = #{category.state}
            </if>
        </trim>
    </sql>

    <sql id="criteria">
        (select /*+ index_desc(tbl_category pk_category) */
        rownum rn,
        tbl_category.*
        from tbl_category
        where
        <trim prefixOverrides="and">
            <include refid="search"/>
            <choose>
                <when test="cri.amount!=0">
                    <![CDATA[
           and rownum <= #{cri.pageNum} * #{cri.amount}
        )
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
                </when>
                <otherwise>
                    )
                </otherwise>
            </choose>
        </trim>
    </sql>

    <insert id="insert">

        <selectKey keyProperty="cno" order="BEFORE" resultType="long">
            select seq_category.nextval from dual
        </selectKey>

        insert into tbl_category (cno, code, name, state, hCode, eName)
        values (#{cno},
        <choose>
            <when test='hCode!=null and hCode!="null"'>
                #{hCode}||#{cno},
            </when>
            <otherwise>
                substr(#{eName}, 0, 3)||#{cno},
            </otherwise>
        </choose>
        #{name}, 1, #{hCode, jdbcType=VARCHAR}, #{eName, jdbcType=VARCHAR})
    </insert>

    <select id="duplicate" resultType="int">
        select /*+ index_desc (tbl_category pk_category) */ count(cno)
        from tbl_category
        where
        <choose>
            <when test="duplicateCase=='N'.toString()">
                name = #{duplicateParam}
            </when>
            <when test="duplicateCase=='E'.toString()">
                eName = #{duplicateParam}
            </when>
        </choose>
    </select>

    <select id="get" resultType="com.foodive.domain.CategoryVO">
        select /*+ index_desc (tbl_category pk_category) */ *
        from tbl_category
        where
        <include refid="search"/>
    </select>

    <select id="getListWithPaging" resultType="com.foodive.domain.CategoryVO">
        select *
        from
        <include refid="criteria"/>
    </select>

    <select id="getTotalCategory" resultType="int">
        select count(cno)
        from tbl_category
        where
        <include refid="search"/>
    </select>

    <update id="drop">
        update tbl_category
        set state    = 0,
            dropDate = sysdate
        where cno = #{cno}
    </update>

    <update id="update">
        update tbl_category
        set hCode = #{hCode},
        <choose>
            <when test='hCode==null or hCode=="null"'>
                code = substr(#{eName}, 0, 3),
            </when>
            <otherwise>
                code = #{hCode}||#{cno},
            </otherwise>
        </choose>
        name = #{name},
        eName = #{eName},
        state = #{state},
        modDate = sysdate
        where cno = #{cno}
    </update>

</mapper>